html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#p5-ui {
  position: relative;
  width: 720px;
  height: 125px;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 10px;
  border-radius: 5px;
  background: #aaaaaa;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type='range']:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

#sens-slider::-webkit-slider-thumb {
  background: #444444;
}

#sens-slider::-moz-range-thumb {
  background: #444444;
}

#r-slider::-webkit-slider-thumb {
  background: #ff0000;
}

#r-slider::-moz-range-thumb {
  background: #ff0000;
}

#g-slider::-webkit-slider-thumb {
  background: #00ff00;
}

#g-slider::-moz-range-thumb {
  background: #00ff00;
}

#b-slider::-webkit-slider-thumb {
  background: #0000ff;
}

#b-slider::-moz-range-thumb {
  background: #0000ff;
}
